.footer {
  background-color:transparent;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better separation from the content */
    backdrop-filter: blur(5px) /* Adds a blur effect to the background */
}

.footer__address {
  font-style: normal;
  margin-bottom: 5px;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  color: #545151;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}