#catalog-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 900px;
}

#catalog-page>h1 {
    color: #ffffff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

#catalog-page>h2 {
    color: #ffffff;
    font-family: "Agency FB";
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allCourses {
    background-color: #cdc7c7;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
    margin-bottom: 20px;
}

.allCourses-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allCourses-info>img {
    margin-top: -10px;
    border-radius: 50%;
    height: 140px;
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 140px;
}

.allCourses-info>h6 {
    font-size: 18px;
    font-weight: 580;
    color: #424242;
}

.allCourses-info>h2 {
    font-size: 21px;
    font-weight: 750;
    color: #424242;
}

.details-button {
    background-color: #666569;
    box-shadow: 0 10px 10px rgba(99, 43, 43, 0.027);
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: 20px;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 71vh;
    text-align: center;
  }
  
  .notFound h1 {
    font-size: 6rem;
    color: #ffffff;
  }
  
  .notFound p {
    font-size: 1.7rem;
    color: #ffffff;
  }
  
  .notFound a {
    margin-top: 1rem;
    font-size: 2rem;
    color: #e49696;
    text-decoration: none;
  }