#create-page,
#edit-page {
    position: relative;
    width: 750px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #696b6b;
    box-shadow: 0px 0px 32px 0px #c9d1da, -14px -14px 20px #000103;
    margin-top: 50px; 
}

#create-page h1 {
    margin-top: 0px; 
    color: whitesmoke
}

.inputs {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

input[type="text"] {
    background: #ecf0f3;
    color: rgb(40, 38, 37);
    padding: 20px;
    padding-left: 20px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 10px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}